.git
.env
.env.*
.venv
venv
env
__pycache__
**/__pycache__
*.py[cod]
**/*.py[cod]
.pytest_cache
.model-cache
*.egg-info
build
dist
notebooks
assets
tests
*.safetensors
**/*.safetensors
*.bin
**/*.bin
